{% extends "base.html" %}
{% block title %}{{ header_text }}{% endblock %}
{% block header %}{{ header_text }}{% endblock %}
{% block content %}
{% load user_filters %}
{% load static %}
  <main role="main" class="container">
    <div class="row">
      <!-- Левый вспомогательный блок -->
      <div class="col-md-3 mb-3 mt-1">
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="h3">
                  {{ card_header_text }}
                </div> 
              </li>
              <li class="list-group-item">
                <div class="h6 text-muted">
                  {{ text_in_square|safe }}
                </div>
              </li>
            </ul>                                               
          </div>                    
        </div>                
      </div>
      <div class="col-md-9">
        <div class="card-body">                    
          <div class="card-text">
                {{ main_text|safe }}
          </div>                    
        </div>                
      </div>            
    </div>        
  </main>
{% endblock %} 