{% extends "base.html" %}
{% load cache %}
{% block title %} Подписки пользователя {{ post.author.username }}{% endblock %}
{% block header %}Подписки пользователя {{ post.author.username }}{% endblock %}
{% block content %}

    <div class="container">

        {% include "includes/menu.html" with follow=True %}


            {% for post in page %}
                {% include "includes/post_item.html" with post=post %}
            {% endfor %}


    </div>

        <!-- Вывод паджинатора -->
        {% if page.has_other_pages %}
            {% include "includes/paginator.html" with items=page paginator=paginator%}
        {% endif %}

{% endblock %}